---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
import PreviousSponsorsLogosSection from '../components/PreviousSponsorsLogosSection.astro';
import year2025 from '../data/previous_editions_2025.json';
import year2024 from '../data/previous_editions_2024.json';
import year2023 from '../data/previous_editions_2023.json';
import year2022 from '../data/previous_editions_2022.json';
import year2020 from '../data/previous_editions_2020.json';
import year2019 from '../data/previous_editions_2019.json';
import year2018 from '../data/previous_editions_2018.json';
import year2017 from '../data/previous_editions_2017.json';
import year2016 from '../data/previous_editions_2016.json';

const sponsorLevels = [
{ dataName: 'chamois', displayName: 'Chamois' },
{ dataName: 'etoile', displayName: 'Etoile' },
{ dataName: 'flocon', displayName: 'Flocon' }
];
function transformYear(yearData:any, year: number, hasPhoto: boolean, hasSources: boolean) {
  yearData.sponsors.list = [];
  sponsorLevels.forEach(sl => {
    if (yearData.sponsors[sl.dataName] && yearData.sponsors[sl.dataName].length > 0) {
      yearData.sponsors.list.push({
        name: sl.displayName,
        list: yearData.sponsors[sl.dataName]
      })
    }
    if (!yearData.program_url && yearData.sched_url) {
      yearData.program_url = yearData.sched_url;
    }
  })
  yearData.year = year;
  yearData.hasAlbum = hasPhoto;
  yearData.sources = {
    has: hasSources,
    url : 'https://github.com/snowcamp/snowcamp-supports-sessions/blob/main/' + year + '.md'
  }
  return yearData;
}

const previous_years = [
  transformYear(year2025, 2025, true, true),
  transformYear(year2024, 2024, true, true),
  transformYear(year2023, 2023, true, true),
  transformYear(year2022, 2022, true, true),
  transformYear(year2020, 2020, true, true),
  transformYear(year2019, 2019, true, false),
  transformYear(year2018, 2018, false, false),
  transformYear(year2017, 2017, false, false),
  transformYear(year2016, 2016, false, false)
];

---
<style>
  table th {
    padding: 10px;
    border: 1px solid black;
  }
  table td {
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
  }
  table td.sponsorCol {
    text-align: left;
  }
  .sponsorCol,
  table th .sponsorCol,
  table td .sponsorCol {
    max-width: 300px;
  }
  .sponsorLevel {
    margin-bottom: 10px;
  }
  .sponsorLevel:last-child {
    margin-bottom: 0;
  }
</style>
<Layout title={t('past_editions')}>
  <div class="snc-snowcamp-page">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <h2>Historique des editions précédentes</h2>
          <table border="1" style="padding: 20px; margin: 10px auto;text-align: center;">
            <tr>
              <th>Year</th>
              <th>Program</th>
              <th>Photos</th>
              <th>Sources</th>
              <th class="sponsorCol">Sponsors</th>
            </tr>
            { previous_years.map((py,idxYear:number) => (
              <tr>
                <td>{py.year} <br>({previous_years.length-idxYear})</td>
                <td><a href={py.program_url} target="program">Program</a></td>
                <td>
                  { py.hasAlbum &&
                  <a href={py.album_url} target="album">Photo</a>
                  }
                </td>
                <td>
                  { py.sources.has &&
                    <a href={py.sources.url} target="album">Presentation</a>
                  }
                </td>
                <td class="sponsorCol">
                  {py.sponsors.list.map((sl:any,idxLevel:number) => (
                      <div class="sponsorLevel">
                        <span style="font-weight: bold;">{sl.name}</span>:
                        { sl.list.map((sponsor:any, idx:number) => (
                          <span>
                            <a href={sponsor.url.fr}>{sponsor.name}</a>
                            { idx < (sl.list.length-1) ? ', ' : ''}
                          </span>
                        ))}
                      </div>
                  ))}
                </td>
              </tr>
            ))}
          </table>
				</div>
			</div>
		</div>
  </div>
</Layout>
