---
import Utils from "../utils";
interface Props {
  orga: Orga;
}

interface Orga {
  name: string;
  img: string;
  twitter?: string;
  linkedin?: string;
  github?: string;
}

const { orga } = Astro.props;
---

<style>
  .profile-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .name {
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--main);
    font-size: 1.5em;
    transition: color 0.3s;
  }

  .social-links a:hover {
    color: var(--green);
  }
</style>

<div class="profile-card">
  <img
    src={Utils.url(`/img/orga/${orga.img}`)}
    alt={orga.name}
    class="avatar"
  />
  <div class="name">{orga.name}</div>
  <div class="social-links">
    {
      orga.twitter && (
        <a
          class="sp-tw"
          href={`https://twitter.com/${orga.twitter}`}
          target="_blank"
        >
          <i class="fa fa-twitter" />
        </a>
      )
    }
    {
      orga.linkedin && (
        <a
          class="sp-in"
          href={`https://www.linkedin.com/in/${orga.linkedin}`}
          target="_blank"
        >
          <i class="fa fa-linkedin" />
        </a>
      )
    }
    {
      orga.github && (
        <a
          class="sp-gh"
          href={`https://github.com/${orga.github}`}
          target="_blank"
        >
          <i class="fa fa-github" />
        </a>
      )
    }
  </div>
</div>
