---
import sponsors from '../data/sponsors.json';
import edition from '../data/edition.json';
import { t } from "../i18n/i18n";
import SponsorsLogos from './SponsorsLogos.astro';

const lang = (Astro.locals as any).lang;
const url_prefix = lang === 'fr' ? '' : '/' + lang;
const sponsors_year = sponsors.display === 'previous' ? edition.previous_edition_year : edition.year
---
    <div id="sponsors" class="snc-sponsors">
      <div class="snc-inner-bg">
        <div class="snc-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="snc-heading-area">
                  <h2 class="snc-heading">
                    <span class="back-heading"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    {sponsors.display === "previous" ?
                    <span class="heading" set:html={t('sponsor_previous_year')}></span>
                    :
                    <span class="heading">Sponsors {sponsors_year}</span>
                    }
                  </h2>
                  {sponsors.display === "previous" ?
                  <p class="text" set:html={t('sponsor_thanks_previous_year', sponsors_year)}></p>
                  :
                  <p class="text" set:html={t('sponsor_thanks', sponsors_year)}></p>
                  }
                </div>
              </div>
            </div>
            {sponsors.chamois && sponsors.chamois.length ?
              <SponsorsLogos sponsors={sponsors.chamois} column_number={3} sponsor_title={t('sponsor_chamois')}></SponsorsLogos>
            : ''}
            { sponsors.etoile && sponsors.etoile.length ?
              <SponsorsLogos sponsors={sponsors.etoile} column_number={3} sponsor_title={t('sponsor_etoile')}></SponsorsLogos>
            : ''}
            {sponsors.meetgreet && sponsors.meetgreet.length ?
              <SponsorsLogos sponsors={sponsors.meetgreet} column_number={3} sponsor_title={t('sponsor_meetgreet')}></SponsorsLogos>
            : ''}
            {sponsors.flocon && sponsors.flocon.length ?
              <SponsorsLogos sponsors={sponsors.flocon} column_number={3} sponsor_title={t('sponsor_flocon')}></SponsorsLogos>
            : ''}
            <div class="sponsors-btn-area">
              <a class="snc-btn snc-btn-big" href={url_prefix+'/sponsors/index.html'}><span>{t('become_sponsor')}</span></a>
            </div>
            {sponsors.partners && sponsors.partners.length ?
              <SponsorsLogos sponsors={sponsors.partners} column_number={3} sponsor_title={t('partners')}></SponsorsLogos>
            : ''}
          </div> <!-- Container -->
        </div><!-- Inner -->
      </div> <!-- Inner-bg -->
    </div> <!-- Sponsors -->
