---
import { type SponsorType } from "./sponsor";
import Utils from "../utils";

interface Props {
  sponsor: SponsorType;
  active: boolean;
}
const { sponsor, active } = Astro.props;
type translation = { fr: string; en: string };
type language = keyof translation;
const lang = Utils.getLang(Astro.url) as language;
const sponsors = sponsor.number > 1 ? 'sponsors' : 'sponsor';

const trad: { [key: string]: translation } = {
  "title-tenyears": {
    fr: "10 ans",
    en: "10 years",
  },
  "title-etoile": {
    fr: "Étoile",
    en: "Étoile",
  },
  "title-flocon": {
    fr: "Flocon",
    en: "Flocon",
  },
};
---

<style>
  section {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1rem;
    border-radius: 5px;
    background-color: var(--main);
    & > header > * {
      color: var(--background);
    }
    & > header > h4 {
      color: var(--background);
    }
  }
  section.active {
    background-color: var(--orange);
    & > header > * {
      color: var(--main);
    }
    & > header > h4 {
      color: var(--background);
    }
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    margin: 1ex;
    list-style-type: none;
    padding: 1ex 1rem;
  }
  li {
    text-align: center;
    &::before {
      content: "✔  ";
      color: var(--green);
    }
    &.hidden {
      display: none;
    }
  }
  p {
    display: none;
  }
  .en:lang(en) {
    display: flex;
  }
  .fr:lang(fr) {
    display: flex;
  }
</style>
<section class={active ? "active" : ""}>
  <header>
    <h2>{trad["title-" + sponsor.id][lang]}</h2>
    <h4>{sponsor.price}</h4>
    <p class={lang} lang="en">{`Limited to ${sponsor.number} ${sponsors}`}</p>
    <p class={lang} lang="fr">{`Limité à ${sponsor.number} ${sponsors}`}</p>
  </header>
  <ul class={lang} lang="fr">
    <li class={sponsor.id == "tenyears" || "hidden"}>
      Sponsor du goodies spécial des 10 ans: un T-shirt de qualité sur lequel
      sera affiché devant/derrière le logo du snowcamp et le logo des 10 ans.
      Votre logo sur la manche du t-shirt.
    </li>
    <li class={(sponsor?.places?.conferences ?? 0) > 0 || "hidden"}>
      {
        `${sponsor.places.conferences} entrées offertes pour participer aux sessions`
      }
    </li>
    <li class={(sponsor?.places?.booth ?? 0) > 0 || "hidden"}>
      {
        `${sponsor.places.booth} entrées offertes sur l'espace sponsor uniquement`
      }
    </li>
    <li class={sponsor.booth_area || "hidden"}>
      {`Stand dans le hall d'exposition (${sponsor.booth_area})`}
    </li>
    <li>Logo sur notre site web du SnowCamp</li>
    <li>Affichage de votre logo sur le lieu de la conférence</li>
    <li>Autorisation d'exploiter le logo SnowCamp pour votre communication</li>
    <li class={sponsor.kakemono || "hidden"}>Un kakémono (max 1m x 2m50)</li>
  </ul>
  <ul class={lang} lang="en">
    <li class={sponsor.id == "tenyears" || "hidden"}>
      Sponsor a special 10-year anniversary goodie: a high-quality T-shirt
      featuring the Snowcamp logo and the 10-year logo on the front and back.
      Placing your logo on the sleeve of the T-shirt.
    </li>
    <li class={(sponsor?.places?.conferences ?? 0) > 0 || "hidden"}>
      {`${sponsor.places.conferences} free tickets to attend the sessions`}
    </li>
    <li class={(sponsor?.places?.booth ?? 0) > 0 || "hidden"}>
      {`${sponsor.places.booth} free tickets for the sponsors space only`}
    </li>
    <li class={sponsor.booth_area || "hidden"}>
      {`Booth in the exhibition hall (${sponsor.booth_area})`}
    </li>
    <li>Your logo on the SnowCamp website</li>
    <li>Your logo visible on the location of the conference</li>
    <li>Authorisation to use the SnowCamp logo for your communications</li>
    <li class={sponsor.kakemono || "hidden"}>1 kakémono (max 1m x 2m50)</li>
  </ul>
</section>
